.QuizPage{
    text-align: center;
    margin: 100px;
    font-size: 30px;
}
.QuestionIndex{
    text-align: center;
    margin: 25px;
}
.QuizButtons{
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    border: solid black;
    border-radius: 10px;
}
.QuizButtons:hover{
    background-color: gray;
    cursor: pointer;
}
.ButtonUI{
    font-size: 40px;
    padding: 10px;
    margin: 100px;
    border: solid black;
    border-radius: 10px;

    position: relative;
    left: 390px;
    top: -400px;
    background-color: rgba(255, 255, 255, 0.548);
}
.ButtonUI:hover{
    background-color: rgba(128, 128, 128, 0.61);
    cursor: pointer;
}
.box{
    border: 10px solid black;
    border-radius: 20px;
    margin: 100px;
    background-color: rgba(255, 255, 255, 0.548);
}
.boxLeft{
    border: 10px solid black;
    border-radius: 20px;
    float: left;
    margin: 100px;
    width: 400px;
    text-align: center;
    padding: 75px;
    background-color: rgba(255, 255, 255, 0.548);
}
.boxRight{
    border: 10px solid black;
    border-radius: 20px;
    float: right;
    margin: 100px;
    width: 400px;
    text-align: center;
    padding: 75px;

    position: relative;
    top: -460px;
    background-color: rgba(255, 255, 255, 0.548);

}
body{
    background-image: url(../Images/PiriReis.png);
}